In [18]:
CREATE DATABASE IF NOT EXISTS COMPANY;

In [19]:
CREATE TABLE products (
    product_id INT PRIMARY KEY,
    title VARCHAR(255),
    price DECIMAL(10, 2),
    discount DECIMAL(5, 2),
    brand VARCHAR(100),
    category VARCHAR(100),
    quantity INT
);

In [20]:
use company;

: 1050 (42S01): Table 'products' already exists

In [17]:
INSERT INTO products (product_id, title, price, discount, brand, category, quantity)
VALUES (1, 'Product Title 1', 50.00, 10, 'Brand A', 'Category X', 100);

: 1062 (23000): Duplicate entry '1' for key 'products.PRIMARY'